.header {
    margin-top: 20px;
    overflow: hidden;
    height: 755px;
    margin-bottom: 1000px;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 111px;
    }

    &__search {
        max-width: 348.45px;
        background-color: #EDEDED;
        padding-top: 18px;
        padding-right: 81.64px;
        padding-left: 22.58px;
        padding-bottom: 17.49px;
        border-radius: 14.88px;
        display: flex;
        align-items: center;
        gap: 10px;
        max-height: 57px;

        img {
            display: block;
            transition: .55s;
        }

        img:hover {
            transform: scale(1.1);
        }
    }

    &__button {
        padding: 12px 24px;
        border-radius: 16.17px;
        font-family: 'Inter', sans-serif;
        line-height: 24.26px;
        font-size: 16.17px;
        text-transform: uppercase;
        transition: .33s;
    }

    &__button:hover {
        opacity: .8;
    }

    &__button:active {
        transform: scale(.9);
    }
}

.container {
    max-width: 1251px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    display: flex;
    align-items: center;

    img {
        display: inline;
    }

    h2 {
        display: inline;
        margin-left: 7px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 21.36px;
        lighting-color: 130%;
        display: none;
    }
}

.menu {
    &__list {
        display: flex;
        gap: 53.49px;
    }

    &__item {}

    &__link {
        font-family: 'Intel', sans-serif;
        font-weight: 500;
        font-size: 17.83px;
        line-height: 26.74px;
        color: #606060;
        display: block;
        transition: .55s;
    }

    &__link:hover {
        transform: scale(1.1);
        opacity: .7;
    }
}

.header__content {
    display: flex;

    .header-left {
        width: 50%;
    }

    .header-right {
        position: relative;
        display: flex;
        width: 50%;
        left: 136px;

        .image-top {
            position: relative;
            bottom: 60px;
            right: 170px;
            display: inline;
        }

        .arrow-top {
            position: relative;
            right: 180px;
            bottom: 140px;
            transform: rotateX(30deg);
        }

        .image-bottom {
            position: relative;
            top: 160px;
            right: 430px;
        }
    }
}